/* Hoja de estilos principal */

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* Carga iconFont */
@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot");
    src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff")
        format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook2:before {
	content: "\ea91";
  }
  .icon-instagram:before {
	content: "\ea92";
  }
  .icon-twitter:before {
	content: "\ea96";
  }
  .icon-pinterest:before {
	content: "\ead1";
  }

/* Variables */
:root{
	/* Colors */
	--strong-cyan: hsl(171, 66%, 44%);
	--strong-cyan-dark: hsl(171, 66%, 30%, 0.3);
	--light-blue: hsl(233, 100%, 69%);
	--light-blue-dark: hsl(233, 100%, 55%, 0.3);
	--dark-grayish-blue: hsl(210, 10%, 33%);
	--grayish-blue: hsl(201, 11%, 66%);
	--footer: hsl(220, 18%, 97%);


	/* Fuentes */
	--font: 'Bai Jamjuree', sans-serif;
}

/* Diseño */
html {
    font-size: 18px;
    font-size: 1.125rem;
	font-family: var(--font);
}
.home{
	width: 100vw;
	height: 780vh;
}
.page{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 15% 22% 10% 20% 12% 11% 10%;
	grid-template-columns: 100%;
}
.masthead{
	width: 100%;
	height: 100%;
	padding: 18% 8% 2%;
	display: grid;
	grid-template-rows: 29% 14% 20% 37%;
	grid-template-columns: 100%;
	background-image: url('../images/bg-header-mobile.png');
	background-repeat: no-repeat;
	background-size: contain;
}
.masthead .logo{
	justify-self: center;
	align-self: start;
}
.masthead .logo img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}
.masthead .header-tittle{
	justify-self: center;
	align-self: start;
	text-align: center;
	color: var(--dark-grayish-blue);
	font-size: 26px;
	font-size: 1.625rem;
	font-weight: 600;
}
.masthead .header-summary{
	justify-self: center;
	align-self: center;
	text-align: center;
	color: var(--grayish-blue);
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.7;
}
.masthead .buttons, .entry-download .buttons{
	width: 100%;
	justify-self: center;
	align-self: start;
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 100%;
}
.button{
	margin: 4% 0;
	padding: 5%;
	border-width: 0px 1px 3px;
	border-style: solid;
	border-radius: 50px;
	color: white;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400; 
	letter-spacing: 1px;
}
.button:hover{
	cursor: pointer;
	filter: brightness(1.25);
	transition: filter .3s linear
}
#ios{
	box-shadow: 0px 5px 10px -2px var(--strong-cyan);
	border-color: var(--strong-cyan-dark);
	background-color: var(--strong-cyan);
}
#mac{
	border-color: var(--light-blue-dark);
	background-color: var(--light-blue);
}
.grid-container{
	display: grid;
	grid-template-columns: 100%;
}
#keep{
	padding: 15% 8%;
	grid-template-rows: 9% 15% 29% 15% 13% 19%;
}
#access{
	padding: 0 8%;
	grid-template-rows: 16% 25% 59%; 
}
#workflow{
	padding: 0 8%;
	grid-template-rows: 8% 13% 26% 23% 26% 4%;
}
.grid-container .entry-tittle{
	justify-self: center;
	align-self: start;
	text-align: center;
	color: var(--dark-grayish-blue);
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 600;
}
.grid-container .entry-summary{
	justify-self: center;
	align-self: start;
	text-align: center;
	color: var(--grayish-blue);
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.7;
}
.grid-container .entry-thumbnail{
	justify-self: center;
	align-self: start;
	width: 100%;
	height: 90%;
}
.grid-container .entry-thumbnail img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}
.grid-container .entry-property{
	width: 100%;
	height: 100%;
	justify-self: center;
	align-self: start;
	display: grid;
	grid-template-rows: 30% 70%;
}
.grid-container .entry-property-complex{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 30% 20% 50%;
	grid-template-columns: 100%;
}
.grid-container .entry-property-icon{
	justify-self: center;
	align-self: start;
}
.grid-container .entry-property-icon img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}
.grid-container .entry-property-tittle{
	justify-self: center;
	align-self: center;
	text-align: center;
	color: var(--dark-grayish-blue);
	font-size: 22px;
	font-size: 1.375rem;
	font-weight: 600;
	margin-bottom: 4%;
}
.grid-container .entry-property-summary{
	justify-self: center;
	align-self: start;
	text-align: center;
	color: var(--grayish-blue);
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.7;
}
.entry-related{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	padding-bottom: 20%;
}
.entry-related img{
	justify-self: center;
	align-self: start;
	width: 35%;
	height: 35%;
	object-fit: contain;
	object-position: center;
}
.entry-download{
	padding: 0 8%;
	display: grid;
	grid-template-rows: 16% 27% 25% 32%;
	grid-template-columns: 100%;
}
.entry-download .entry-tittle{
	justify-self: center;
	align-self: center;
	text-align: center;
	color: var(--dark-grayish-blue);
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 600;
}
.entry-download .entry-summary{
	justify-self: center;
	align-self: start;
	text-align: center;
	color: var(--grayish-blue);
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.7;
}
.footer{
	background-color: var(--footer);
	display: grid;
	grid-template-rows: 31% 54% 15%;
}
.footer .footer-logo{
	width: 35%;
	height: 35%;
	justify-self: center;
	align-self: center;
}
.footer .footer-logo img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}
.footer .footer-nav ul{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: 100%;
	text-align: center;
}
.footer .footer-nav ul a{
	color: var(--dark-grayish-blue);
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 400;
}
.footer .footer-nav ul a:hover{
	color: var(--strong-cyan);
}
.footer .social-container{
	width: 100;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 0 30%;
}
.footer .social-container .social-link{
	justify-self: center;
	align-self: start;
}
.footer .social-container .social-link a{
	color: var(--dark-grayish-blue);
	font-size: 18px;
	font-size: 1.125rem;
}
.footer .social-container .social-link a:hover{
	color: var(--strong-cyan);
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
 @media (min-width: 768px) and (max-width: 1024px) {
	.masthead .header-tittle{
		font-size: 30px;
		font-size: 1.875rem;
	}
	.masthead .header-summary{
		font-size: 18px;
		font-size: 1.125rem;
	}
	.button{
		font-size: 18px;
		font-size: 1.125rem;
	}
	.grid-container .entry-tittle{
		font-size: 28px;
		font-size: 1.75rem;
	}
	.grid-container .entry-summary{
		font-size: 18px;
		font-size: 1.125rem;
	}
	.grid-container .entry-property-tittle{
		font-size: 26px;
		font-size: 1.625rem;
	}
	.grid-container .entry-property-summary{
		font-size: 18px;
		font-size: 1.125rem;
	}
	.entry-download .entry-tittle{
		font-size: 28px;
		font-size: 1.75rem;
	}
	.entry-download .entry-summary{
		font-size: 18px;
		font-size: 1.125rem;
	}
	.footer .footer-nav ul a{
		font-size: 18px;
		font-size: 1.125rem;
	}
	.footer .social-container .social-link a{
		font-size: 22px;
		font-size: 1.375rem;
	}
 }
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px){
	.home{
		width: 100vw;
		height: 338vh;
	}
	.page{
		grid-template-rows: 15% 29% 23% 14% 6% 9% 4%;
		grid-template-columns: 100%;
	}
	.masthead{
		padding: 0 25%;
		grid-template-rows: 53% 13% 17% 17%;
		grid-template-columns: 100%;
		background-image: url('../images/bg-header-desktop.png');
	}
	.masthead .logo{
		align-self: center;
	}
	.masthead .header-tittle{
		align-self: start;
		font-size: 28px;
		font-size: 1.625rem;
	}
	.masthead .header-summary{
		align-self: start;
		font-size: 14px;
		font-size: 0.875rem;
	}
	.masthead .buttons, .entry-download .buttons{
		align-self: start;
		grid-template-rows: 100%;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 3%;
	}
	.button{
		width: 70%;
		padding: 5%;
		font-size: 14px;
		font-size: 0.875rem;
	}
	#ios{
		justify-self: end;
	}
	#mac{
		justify-self: start;
	}
	#keep{
		padding: 8% 0;
		grid-template-rows: 8% 20% 20% 20% 20% 12%;
		grid-template-columns: 58% 42%;
	}
	#keep .entry-tittle{
		grid-column: 1/3;
		font-size: 22px;
		font-size: 1.375rem;
	}
	#keep .entry-summary{
		padding: 0% 25%;
		grid-column: 1/3;
		font-size: 14px;
		font-size: 0.875rem;
	}
	#keep .entry-thumbnail{
		height: 100%;
		grid-row: 3/7;
	}
	#keep .entry-property{
		align-self: center;
		padding: 0 18%;
		display: grid;
		grid-template-rows: 40% 60%;
	}
	#keep .entry-property-tittle{
		justify-self: start;
		align-self: end;
		text-align: left;
		font-size: 18px;
		font-size: 1.125rem;
		margin-bottom: 0;
	}
	#keep .entry-property-summary{
		justify-self: start;
		align-self: center;
		text-align: left;
		font-size: 14px;
		font-size: 0.875rem;
	}
	#access{
		padding: 5% 25% 0;
		grid-template-rows: 8% 19% 73%;
		grid-template-columns: 100%;
	}
	#access .entry-tittle{
		font-size: 22px;
		font-size: 1.375rem;
	}
	#access .entry-summary{
		font-size: 14px;
		font-size: 0.875rem;
	}
	#workflow{
		display: grid;
		grid-template-rows: 12% 10% 48% 30%;
		grid-template-columns: repeat(3, 1fr);
	}
	#workflow .entry-tittle{
		grid-column: 1/4;
		font-size: 22px;
		font-size: 1.375rem;
	}
	#workflow .entry-summary{
		grid-column: 1/4;
		font-size: 14px;
		font-size: 0.875rem;
	}
	#workflow .entry-property-complex{
		margin-top: 8%;
		padding:0 8%;
	}
	.entry-related{
		display: grid;
		grid-template-rows: 100%;
		grid-template-columns: repeat(5, 1fr);
		grid-column-gap: 10%;
		padding: 0 11%;
	}
	.entry-related img{
		width: 100%;
		height: 100%;
		object-position: top;
	}
	.entry-download{
		padding: 0 25%;
		display: grid;
		grid-template-rows: 17% 25% 58%;
		grid-template-columns: 100%;
	}
	.entry-download .entry-tittle{
		font-size: 22px;
		font-size: 1.375rem;
	}
	.entry-download .entry-summary{
		font-size: 14px;
		font-size: 0.875rem;
	}
	.footer{
		grid-template-rows: 100%;
		grid-template-columns: 25% 56% 19%;
	}
	.footer .footer-nav ul{
		padding: 3% 0;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: 24% 24% 52%;
		text-align: left;
	}
	.footer .footer-nav ul li{
		align-self: center;
	}
	.footer .footer-nav ul a{
		align-self: center;
		font-size: 14px;
		font-size: 0.875rem;
	}
	.footer .social-container .social-link{
		align-self: center;
	}
	.footer .social-container .social-link a{
		font-size: 16px;
		font-size: 1rem;
	}
}
/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
}